{
  "presets": ['es2015', 'react', 'stage-0'],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "MODULES": "./app/client/modules",
        "SERVER": "./app/server/",
        "MODELS": "./app/server/models/",
        "SERVICES": "./app/server/services/",

        "CLIENT": "./app/client/",
        "POSTS": "./app/client/modules/posts"
      }
    }]
  ]
}

