@import './vendor/styles/font-awesome/css/font-awesome.min.css';
@import './node_modules/codemirror/theme/erlang-dark.css';
@import './node_modules/codemirror/lib/codemirror.css';

header {
  font-size: 2rem;
  height: 10rem;
  background: linear-gradient(145deg, #7e69c6, white);
  text-align: center;
  padding: 1rem;

  h1 {
    margin: 0.25rem;
  }
}

nav a {
  margin: .5rem;
}

.cards {
  margin-right: .25rem;
}

.card-container:hover {
  background-color: orange;
}

.card-container {
  background-color: rgb(176, 202, 219);
  margin: 0 .25rem .25rem 0;
  border-radius: .25rem;
  .card {
    &.dragging {
      opacity: 0.5;
    }

    .card-header label {
      padding-left: .5rem;
      padding-bottom: 0;
    }

    .CodeMirror {
      height: 7rem;
    }

    .markdown-card {
      padding: 1rem;
      background-color: white;
      height: 7rem;
      overflow: hidden;
      box-shadow: 0 0 .75rem rgba(0,0,0,0.1);
      margin-bottom: 1rem;
    }
  }
}

main aside.sidebar {
  max-width: 25%;
}

section.preview {
  aside {
    max-width: 10%;
  }

  article {
    max-width: 25%;
  }

  .CodeMirror {
    margin-bottom: 1rem;
  }
}

.drag-preview {
  border-radius: 0.25rem;
  height: 5rem;
  background-color: orange;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.login {
  width: 50%;
}

.form-group p {
  &.error {
    color: red;
    padding: .25rem;
  }
}
