@import './vendor/styles/font-awesome/css/font-awesome.min.css';
@import './node_modules/codemirror/theme/erlang-dark.css';
@import './node_modules/codemirror/lib/codemirror.css';

.cards {
  margin-right: 5px;
}

.card-container:hover {
  background-color: orange;
}

.card-container {
  background-color: rgb(176, 202, 219);
  margin: 0 .25rem .25rem 0;
  border-radius: .25rem;
  .card {
    &.dragging {
      opacity: 0.5;
    }

    .card-header label {
      padding-left: 0.25rem;
      padding-bottom: 0;
    }

    .CodeMirror {
      height: 7rem;
    }

    .markdown-card {
      padding: 1rem;
      background-color: white;
      height: 7rem;
      overflow: hidden;
      box-shadow: 0 0 .75rem rgba(0,0,0,0.1);
      margin-bottom: 1rem;
    }
  }
}

section.preview {
  aside {
    width: 20rem;
  }

  article {
    width: 70rem;
  }

  .CodeMirror {
    margin-bottom: 1rem;
  }
}

.drag-preview {
  border-radius: 5px;
  height: 100px;
  background-color: orange;
  font-size: 5em;
  color: white;
  text-align: center;
}

.login {
  width: 50%;
}

.form-group p {
  &.error {
    color: red;
    padding: .25rem;
  }
}
