@import '../../vendor/styles/font-awesome/css/font-awesome.min.css';
@import '../../node_modules/codemirror/theme/erlang-dark.css';
@import '../../node_modules/codemirror/theme/neo.css';
@import '../../node_modules/codemirror/lib/codemirror.css';

header {
  font-size: 2rem;
  height: 10rem;
  background: linear-gradient(145deg, #7e69c6, white);
  text-align: center;
  padding: 1rem;

  h1 {
    margin: 0.25rem;
  }
}

nav a {
  margin: .5rem;
}

.cards {
  margin-right: .25rem;
}

.card-container:hover {
  background-color: orange;
}

.card-container {
  background-color: rgb(176, 202, 219);
  margin: 0 .25rem .25rem 0;
  border-radius: .25rem;
  .card {
    &.dragging {
      opacity: 0.5;
    }

    .card-header label {
      padding-left: .5rem;
      padding-bottom: 0;
    }

    .CodeMirror {
      height: 7rem;
    }

    .markdown-card {
      padding: 1rem;
      background-color: white;
      height: 7rem;
      overflow: hidden;
      box-shadow: 0 0 .75rem rgba(0,0,0,0.1);
      margin-bottom: 1rem;
    }

    .video-card {
      height: 7rem;
      overflow: hidden;
    }
  }
}

section.preview {
  .CodeMirror {
    margin-bottom: 1rem;
  }

  .video {
    height: 20rem;
    margin-bottom: 1rem;
  }
}

.drag-preview {
  border-radius: 0.25rem;
  height: 5rem;
  background-color: orange;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.login {
  width: 50%;
}

.form-group p {
  &.error {
    color: red;
    padding: .25rem;
  }
}

.post-title {
  text-align: center;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

ul.tag-box-pills {
  padding-left: 1rem;

  li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: gold;
    border-radius: 0.25rem;

    .remove {
      margin-left: 0.5rem;
    }

    .tag-box-pill-text {
      margin-left: 0.5rem;
    }

    button {
      padding: 0.25rem 0.75rem;
    }

    &.system {
      background-color: chocolate;
    }
  }
}

ul.autocomplete {
  border-bottom: 1px solid #7e69c6;
  padding: 1rem;

  li {
    cursor: pointer;

    &.considering {
      background-color: #7e69c6;
    }

    .option-text {
      padding-left: 0.5rem;
    }
  }
}

.tag-box {
  border-top: 1px solid #7e69c6;
  border-left: 1px solid #7e69c6;
  border-right: 1px solid #7e69c6;
  border-radius: 0.25rem 0.25rem 0 0;

  input {
    padding: 1rem;
    border-bottom: 1px solid #7e69c6;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }
}

.list-preview {
  height: 10rem;
  overflow: hidden;

  .CodeMirror {
    height: auto;
  }

  &::before {
    height: 10rem;
    overflow: hidden;
    content: '';
    background: linear-gradient(to top, white, transparent);
    position: absolute;
    width: 80%;
    z-index: 100;
  }
}

.uploads {
  height: auto;
  width: 100%;
}

.image-preview {
  display: inline-block;
  padding: 1rem;

  .header {
    .remove {
      font-size: .75rem;
      text-align: right;
      width: 100%;
      padding: 0;
      padding-right: .5rem;
      color: black;
      border-radius: .25rem .25rem 0 0;
      background-color: rgb(176, 202, 219);
      &:hover {
        background-color: orange;
      }
    }
  }

  img {
    margin-top: 0;
  }
}
