@import '../../vendor/styles/font-awesome/css/font-awesome.min.css';
@import '../../node_modules/codemirror/theme/erlang-dark.css';
@import '../../node_modules/codemirror/theme/neo.css';
@import '../../node_modules/codemirror/lib/codemirror.css';

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.text-right {
  text-align: right;
}

.button-fly {
  @extend .inline;
  @extend .relative;

  .flyout {
    top: -10rem;
  }
}

header {
  font-size: 2rem;
  height: 10rem;
  background: linear-gradient(145deg, #7e69c6, white);
  text-align: center;
  padding: 1rem;

  h1 {
    margin: 0.25rem;
  }
}

nav a {
  margin: .5rem;
}

.cards {
  margin-right: .25rem;
}

.card-container:hover {
  background-color: orange;
}

.card-container {
  background-color: rgb(176, 202, 219);
  margin: 0 .25rem .25rem 0;
  border-radius: .25rem;
  .card {
    &.dragging {
      opacity: 0.5;
    }

    .card-header label {
      padding-left: .5rem;
      padding-bottom: 0;
    }

    .CodeMirror {
      height: 7rem;
    }

    .markdown-card {
      padding: 1rem;
      background-color: white;
      height: 7rem;
      overflow: hidden;
      box-shadow: 0 0 .75rem rgba(0,0,0,0.1);
      margin-bottom: 1rem;
    }

    .video-card {
      height: 7rem;
      overflow: hidden;
    }

    .image-card {
      height: 7rem;
      overflow: hidden;

      img {
        height: 100%;
        min-width: 100%;
        margin: 0;
      }
    }
  }
}

section.preview {
  .CodeMirror {
    margin-bottom: 1rem;
  }

  .video {
    height: 20rem;
    margin-bottom: 1rem;
  }
}

.drag-preview {
  border-radius: 0.25rem;
  height: 5rem;
  background-color: orange;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.login {
  width: 50%;
}

.form-group p {
  &.error {
    color: red;
    padding: .25rem;
  }
}

.post-title {
  text-align: center;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

.list-preview {
  height: 10rem;
  overflow: hidden;
  position: relative;

  .CodeMirror {
    height: auto;
  }

  &::after {
    content: '';
    background: linear-gradient(to top, white, transparent);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }
}

.upload-zone {
  position: relative;

  .uploads {
    height: auto;
    width: 100%;
  }
}

.image-preview {
  display: inline-block;
  padding: 1rem;

  .header {
    .remove {
      font-size: .75rem;
      text-align: right;
      width: 100%;
      padding: 0;
      padding-right: .5rem;
      color: black;
      border-radius: .25rem .25rem 0 0;
      background-color: rgb(176, 202, 219);
      &:hover {
        background-color: orange;
      }
    }
  }

  img {
    margin-top: 0;
  }
}

.gallery-image {
  display: inline-block;
  padding: .25rem .25rem .125rem;
  margin-right: .5rem;
  border-radius: .25rem;

  &:hover {
    cursor: pointer;
    background-color: orange;
  }

  img {
    margin: 0;
    max-height: 5rem;
    max-width: 100%;
    border-radius: .25rem;
  }
}

.image-picker {
  img {
    width: 100%;
  }
}

.loading-overlay {
  &::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.gallery {
  height: 20rem;
  overflow: auto;
}

ul.tag-box-pills {
  padding-left: 1rem;

  li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: thistle;
    border-radius: .25rem;

    .remove {
      margin-left: .5rem;
      border-radius: 0 .25rem .25rem 0;
      background-color: transparent;

      &:hover {
        background-color: blueviolet;
      }
    }

    .tag-box-pill-text {
      margin-left: 0.5rem;
    }

    button {
      padding: 0.25rem 0.75rem;
    }
  }
}

.tag-box {
  margin-bottom: 1rem;
  border: 1px solid rgb(238, 238, 238);
  position: relative;

  .autocomplete {
    padding: 1rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: .25rem;
    background-color: beige;
    position: absolute;
    left: 2rem;
    margin-top: 0;

    li {
      cursor: pointer;
      border-radius: .25rem;

      &.considering {
        background-color: #7e69c6;
      }

      .option-text {
        padding: 0 .5rem 0 .5rem;
      }
    }
  }

  input {
    padding: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }
}

.button-list button {
  margin-right: 1rem;
}

button[disabled] {
  cursor: not-allowed;
  background-color: #999;
}

.flyout {
  position: absolute;
  background-color: beige;
  padding-bottom: .5rem;

  li {
    padding: .5rem .5rem 0;
    min-width: 5rem;

    span {
      width: 100%;
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
      background-color: #7e69c6;

      > ul {
        visibility: visible;
      }
    }
  }

  ul {
    background-color: beige;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 99%;
    padding-bottom: .5rem;
  }
}

.block-editor {
  margin-bottom: 1rem;
}

h2 i.edit {
  visibility: hidden;
  font-size: 1rem;
  margin-left: 1rem;
}

h2:hover i.edit {
  visibility: visible;
}
